.css-wnkddu-MuiPaper-root-MuiAlert-root {
  background-color: #146c43  !important;
  color: #fff !important;
}

.MuiSvgIcon-root {
  color: #fff !important;
}

.MuiAlert-standardError {
  background-color: #d32f2f !important;
  color: #fff !important;
}

.offline-message {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 10px;
}
